@model IEnumerable<EntertainmentBooking.Models.genre>
@{
    ViewBag.Title = "Genres";
}
<div class="jumbotron">
    @{
        foreach (var genre in Model)
        {
            <h1>@genre.name</h1>
            foreach (var band in genre.bands)
            {
                <h2>@band.name</h2>
            }
        }
    }
</div>
