@model IEnumerable<EntertainmentBooking.Models.genre>
@{
    ViewBag.Title = "Genres";
}
<div class="jumbotron">
    @{
        foreach (var genre in Model)
        {
            <h2><b>@genre.name</b></h2>
            foreach (var band in genre.bands)
            {
                <h3>@band.name (@band.members.Count)</h3>
            }
            <br/>
        }
    }
</div>
